<h1>All Plots</h1>
<section id="plots">
  <% @plots.each do |plot| %>
    <p>Plot Number: <%= plot.number %></p>
    <ul id ="plot-<%= plot.id %>">
      <% plot.plants.each do |plant| %>
        <li id="plot-plant-<%= plot.id %>-<%=plant.id %>"><%= plant.name %><%= button_to "Remove", "/plots/#{plot.id}/plot_plants/#{plant.id}", method: :delete %></li>
      <% end %>
    </ul>
  <% end %>
</section>
