<section class="plots">
  <% @plots.each do |plot| %>
    <div id="plot-<%= plot.id %>">
      <h3>Plot ID: <%= plot.number %></h3>
      <% plot.plants.each do |plant| %>
        <div id="plant-<%= plant.id %>">
          <h2>Plant: <%= plant.name %></h3>
          <%= button_to "remove plant from plot", "/plot/#{plot.id}/plants/#{plant.id}", method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>